- unless local_assigns[:header] == false
  thead.table-dark
    tr
      = th :icon
      = th :ticker
      = th :change, 'Yc ﹪', class: 'money-cell'
      = th :rel_volume, '𝑉', class: "money-cell"
      = th :volume, '𝑉 m', class: 'money-cell'
      = th :volatility, 'σ', class: 'money-cell'
tbody
  - candles.each do |candle|
    - inst = candle.cached_instrument
    tr(class=class_names('opacity-40' => inst.ignored?))
      = td :icon, instrument_logo_button(inst)
      = td :ticker, format_ticker(inst)
      = td :change, class: "money-cell" do
        = colorized_ratio candle.rel_change, precision: 1
        / = percentage_bar_or_number candle.rel_change, classes: "#{red_green_class candle.rel_change.to_f > 0}", threshold: 0.05, rtl: true
      = td :rel_volume, class: "money-cell" do
        / = number_to_percentage candle.volume_to_average, precision: 0, format: '%n ﹪'
        = percentage_bar candle.volume_to_average / 100, classes: 'is-light-blue', threshold: 4, rtl: true,
          title: number_to_percentage(round_percentage(candle.volume_to_average * 100), precision: 0, format: '%n ﹪')
      / = td :volume, class: 'money-cell' do
      /   = format_price_in_millions row.volume, unit: inst.currency
      / = td :volatility, class: 'money-cell' do
      /   = number_to_percentage row.volatility, precision: 0
