= data_table fields: [], class: "table table-sm table-hover table-font-sm tickers-table table-selectable momentum-table" do |t|
  thead.table-dark
    tr
      = th :time, nil, class: 'fixed-font'
      = th :icon
      = th :ticker, 'Hits'
      = th :level, 'Level', class: 'money-cell'
      = th :MA, 'MA', class: 'money-cell'
      = th :rel_vol, '𝑉 ﹪', class: 'money-cell'
  tbody
    - @level_hits.each do |hit|
      - inst = hit.instrument!
      - classes = class_names('bg-success' => hit.important? && hit.positive?, 'bg-danger' => hit.important? && !hit.positive?, 'opacity-40' => inst.ignored?)
      tr(class=classes)
        = td :time, l(hit.time, format: '%H:%M'), class: 'fixed-font'
        = td :icon, instrument_logo_button(inst)
        = td :ticker, format_ticker(inst)
        = td :level, class: ['money-cell', red_green_class(hit.positive?)] do
          = format_price(hit.level_value, unit: inst)
        = td :MA, class: ['money-cell']
          = mini_ma_badge hit.ma_length if hit.ma?
        = td :rel_vol, class: 'money-cell'
          = number_to_percentage(round_percentage(hit.rel_vol.to_f * 100), precision: 0, format: '%n ﹪')
