- fields = %i[icon ticker] + fields
= data_table fields: fields, class: "table table-sm table-hover table-font-sm tickers-table table-selectable momentum-table",
  data: { sort_param: local_assigns[:sort_param] || 'sort' } do |t|
  thead.table-dark
    tr
      = th :icon
      = th :ticker, copy_tickers_button(rows.pluck(:ticker), local_assigns[:title]), sort: false
      = th :icons
      = th :last, 'Last', class: 'money-cell'
      = th :last_to_yesterday_open, 'Yo ﹪', class: 'money-cell muted-cell'
      = th :change, 'Yc ﹪', class: 'money-cell'
      = th :change_since_open, 'To ﹪', class: 'money-cell'

      = th :recent_change, '15m ﹪', class: 'money-cell'
      = th :gain_in_15, ':15 ﹪', class: 'money-cell', sort: 15
      = th :loss_in_15, ':15 ﹪', class: 'money-cell', sort: 15
      = th :gain_in_60, ':60 ﹪', class: 'money-cell', sort: 60
      = th :loss_in_60, ':60 ﹪', class: 'money-cell', sort: 60
      = th :change_in_15, '15m ﹪', class: 'money-cell'
      = th :change_in_60, '60m ﹪', class: 'money-cell'

      = th :last_to_today_open, 'To ﹪', class: 'money-cell muted-cell'
      = th :last_to_60m_ago, '1h'
      = th :last_to_15m_ago, '15m'
      = th :last_to_05m_ago, '5m'
      = th :last_to_01m_ago, '1m'
      = th :change_to_ema_20, 'MA20 ﹪', class: 'money-cell'
      = th :change_to_ema_50, 'MA50 ﹪', class: 'money-cell'
      = th :change_to_ema_200, 'MA200 ﹪', class: 'money-cell'

      = th :rel_volume, '𝑉 ﹪', class: 'money-cell'
      = th :yesterday_volume, 'Yvol', class: 'money-cell'
      = th :volume, '𝑉 m', class: 'money-cell'
      = th :d5_volume, '𝑉 5', class: 'money-cell'
      = th :volatility, 'σ', class: 'money-cell'
      = th :change_since_today_low, 'L ﹪', class: 'money-cell'
      = th :change_since_today_high, 'H ﹪', class: 'money-cell'
      = th :remove
  tbody
    - rows.each do |row|
      - inst = row.instrument
      - classes = class_names('opacity-40' => local_assigns[:muted] ? inst.send(muted) : false)
      tr(class=classes)
        = td :icon, class: 'text-center' do
          = instrument_icon inst
        = td :ticker
          = format_ticker(inst)
        = td :icons, class: 'px-0'
          = watched_icon inst
        = td :last, class: "money-cell" do
          = relative_price inst.last, inst.yesterday_close, unit: inst.currency, format: 'absolute'
        = td :last_to_yesterday_open, class: "money-cell muted-cell" do
          = colorized_ratio row.last_to_yesterday_open, precision: 1

        = td :change, class: "money-cell" do
          = colorized_ratio row.change, precision: 1
          / = ratio_bar row.change, classes: 'solid'

        = td :change_since_open, class: "money-cell muted-cell" do
          = colorized_ratio row.change_since_open, precision: 1
        = td :recent_change, class: "money-cell" do
          = colorized_ratio row.recent_change, precision: 1
        = td :gain_in_15, class: "money-cell" do
          = colorized_ratio row.gain_in_15, precision: 1
        = td :loss_in_15, class: "money-cell" do
          = colorized_ratio row.loss_in_15, precision: 1
        = td :gain_in_60, class: "money-cell" do
          = colorized_ratio row.gain_in_60, precision: 1
        = td :loss_in_60, class: "money-cell" do
          = colorized_ratio row.loss_in_60, precision: 1
        = td :change_in_15, class: "money-cell" do
          = colorized_ratio row.change_in_15, precision: 1
        = td :change_in_60, class: "money-cell" do
          = colorized_ratio row.change_in_60, precision: 1

        = td :last_to_today_open, class: "money-cell muted-cell" do
          = colorized_ratio row.last_to_today_open, precision: 1
        = td :last_to_60m_ago do
          = ratio_bar row.last_to_60m_ago, classes: 'solid m-wide'
        = td :last_to_15m_ago do
          = ratio_bar row.last_to_15m_ago, classes: 'solid m-wide'
        = td :last_to_05m_ago do
          = ratio_bar row.last_to_15m_ago, classes: 'solid m-wide'
        = td :last_to_01m_ago do
          = ratio_bar row.last_to_01m_ago, classes: 'solid m-wide'
        = td :rel_volume, class: 'money-cell' do
          = number_to_percentage row.rel_volume, precision: 0, format: '%n ﹪'
        = td :yesterday_volume, class: 'money-cell' do
          = format_price_in_millions row.yesterday_volume, unit: inst.currency
        = td :volume, class: 'money-cell' do
          = format_price_in_millions row.volume, unit: inst.currency
        = td :d5_volume, class: 'money-cell' do
          = format_price_in_millions row.d5_volume, unit: inst.currency
        = td :volatility, class: 'money-cell' do
          = number_to_percentage row.volatility, precision: 0, format: '%n ﹪'
        = td :change_to_ema_20, class: "money-cell" do
          = colorized_ratio row.change_to_ema_20, precision: 0
        = td :change_to_ema_50, class: "money-cell" do
          = colorized_ratio row.change_to_ema_50, precision: 0
        = td :change_to_ema_200, class: "money-cell" do
          = colorized_ratio row.change_to_ema_200, precision: 0
        = td :change_since_today_low, class: "money-cell" do
          = colorized_ratio row.change_since_today_low, precision: 0
        = td :change_since_today_high, class: "money-cell" do
          = colorized_ratio row.change_since_today_high, precision: 0
        = td :remove, nil, class: 'text-end' do
          = link_to fa_icon(:trash), ticker_set_item_path(set_id, row.ticker), class: 'mini-button x-remove-row'
