form.ticker-set-adder class="d-flex justify-content-center mb-4" data-set-id=set_id
  input class="form-control form-control-sm w-auto me-2 text-uppercase"
  button class="btn btn-sm btn-primary" = fa_icon('plus')
