// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";


.money-cell { text-align: right; }
.percent-cell { text-align: right; }
.money-cell .currency { padding-right: 1px; }
.indicator-cell { vertical-align: bottom; text-align: center; }
.table-sm .indicator-cell { padding-bottom: 0; }

.changebox-green, .is-green { color: green; }
.changebox-red, .is-red { color: red; }


.money-amount, .changebox, .badge-fixed {
  font-family: helvetica, var(--bs-font-sans-serif);
}

.muted-cell .changebox-green { color: rgba(green, 0.5); }
.muted-cell .changebox-red { color: rgba(red, 0.5); }

.table-font-sm { font-size: .8rem; }

.tickers-table th {
  position: sticky;
  top: 0;
}

.bg-outweight   { background-color: #5bbd7a !important; }
.bg-underweight { background-color: #f0a653 !important; }

.exchange-logo { filter: grayscale(100%); }

.text-muted-alt { color: rgba(#212529, 0.6); }
.outdated-price { color: rgba(#212529, 0.33); }

.volatility-bar { display: block; background-color: rgba(black, 0.5); margin: 0 auto; width: 8px; }
.volatility-bar.volatility-low { background-color: rgba(black, 0.2); }
.volatility-bar.volatility-high { background-color: rgba(black, 1); }
.volatility-chart .volatility-bar { display: inline-block; margin-right: 2px; }

.volatility-value.volatility-low { color: rgba(black, 0.33); }
.volatility-value.volatility-high { font-weight: bold; }
.volatility-value.direction-up { color: green; }
.volatility-value.direction-down { color: red; }
