// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/bootstrap";

.money-cell { text-align: right; }
.percent-cell { text-align: right; }
.money-cell .currency { padding-right: 1px; }

.changebox-green, .is-green { color: green; }
.changebox-red, .is-red { color: red; }
.muted-cell .changebox-green { color: rgba(green, 0.5); }
.muted-cell .changebox-red { color: rgba(red, 0.5); }

.table-font-sm { font-size: .8rem; }

.tickers-table th {
  position: sticky;
  top: 0;
}
