// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";


.money-cell { text-align: right; }
.percent-cell { text-align: right; }
.money-cell .currency { padding-right: 1px; }
.indicator-cell { vertical-align: bottom; text-align: center; }
.table-sm .indicator-cell { padding-bottom: 0; }

th[data-sort] { cursor: pointer; }

.changebox-green, .is-green { color: green; }
.changebox-red, .is-red { color: red; }


.money-cell, .money-amount, .changebox, .badge-fixed {
  font-family: helvetica, var(--bs-font-sans-serif);
}

.muted-cell .changebox-green { color: rgba(green, 0.5); }
.muted-cell .changebox-red { color: rgba(red, 0.5); }

.table-font-sm { font-size: .8rem; }

.tickers-table th {
  position: sticky;
  top: 0;
}

.bg-outweight   { background-color: #5bbd7a !important; }
.bg-underweight { background-color: #f0a653 !important; }

.exchange-logo { filter: grayscale(100%); }
.country-flag { width: 15px; }

.text-muted-alt { color: rgba(#212529, 0.6); }
.outdated-price { color: rgba(#212529, 0.33); }

.volatility-bar { background-color: black; opacity: 1; margin: 0 auto; width: 7px; }
.volatility-bar.candle-above, .volatility-bar.candle-below { width: 1px; }
.volatility-bar.volatility-low { opacity: .33; }
.volatility-bar.volatility-mid { opacity: .33; }
.volatility-bar.volatility-high { opacity: 1; }
.volatility-bar.direction-up { background-color: green; }
.volatility-bar.direction-down { background-color: red; }


.candle { display: flex; flex-direction: column; justify-content: flex-end; align-content: center; margin-right: 3px; }
.volatility-chart { display: flex; flex-direction: row; }

.volatility-value.volatility-low { color: rgba(black, 0.25); }
.volatility-value.volatility-mid { color: rgba(black, 0.5); }
.volatility-value.volatility-high { color: black; }
.volatility-value.direction-up { color: green; }
.volatility-value.direction-down { color: red; }


.lots-input {
  width: 70px; text-align: right; display: inline-block;
  padding: 1px 2px;
  min-height: 16px;
  font-size: 0.7rem;
}

.lots-input::-webkit-outer-spin-button, .lots-input::-webkit-inner-spin-button { -webkit-appearance: none; }


input[type="search"]::-webkit-search-decoration:hover, input[type="search"]::-webkit-search-cancel-button:hover { cursor:pointer; }

.stopped-out {
  opacity: 0.4;
  // background-color: rgba(black, 0.2);
  .stop-loss-val, .enter-price-val, .instrument-name, .signal-name { text-decoration: line-through; }
  .enter-price-val { color: inherit !important; }
}

.opacity-05 { opacity: 0.5; }

.percentage-bar { display: inline-block; width: 4px; margin-right: 2px; }
.percentage-bars { height: 20px; }
.percentage-bar { background-color: gray; }
.is-green .percentage-bar { background-color: green; }
.is-red .percentage-bar { background-color: red; }

.open-chart { cursor: pointer; }

.instrument-name { cursor: pointer; }
.selected-row .instrument-name { color: blue; font-weight: bold; }

.sa-badge { width: 3rem; display: inline-block; text-align: right; }
.sa-badge .changebox-red, .sa-badge .changebox-green { color: black; }

.sa-badge-1 { background-color: maroon; }
.sa-badge-1 .changebox-green, .sa-badge-1 .changebox-red { color: white; }
.sa-badge-2 { background-color: red; }
.sa-badge-2 .changebox-green, .sa-badge-2 .changebox-red { color: white; }
.sa-badge-3 { background-color: gold; }
.sa-badge-4 { background-color: #32CD32; }
.sa-badge-5 { background-color: green; }
.sa-badge-5 .changebox-green, .sa-badge-5 .changebox-red { color: white; }
