.trading-page {
  .tickers-field {
    width: 250px;
  }
  
  .intraday-levels-field {
    height: 250px;
  }
}

.intraday-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.intraday-chart {
  position: relative;
  flex-basis: 47%;
  min-height: 100px;
  // padding: 5px;
  // border: 1px solid #ccc;
  
  &-legend {
    position: absolute; left: 0; top: 0; z-index: 100;
    
    .chart-ticker { font-weight: bold; }
  }
}

.gainers-dashboard {
  .gainers-col { width: 194px; }
}