.trading-page {
  .tickers-field {
    width: 250px;
  }

  .intraday-levels textarea, .ticker-sets textarea {
    height: 250px;
  }
}

.intraday-charts {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // gap: 15px;
}

.intraday-chart {
  min-height: 100px;
  // flex-basis: 47%;
  // padding: 5px;
  // border: 1px solid #ccc;
  // border-right: 2px solid rgba(black, 0.2);

  &-content {
    position: relative;
  }

  &-legend {
    position: absolute; left: 0; top: 0; z-index: 100;

    .chart-ticker { font-weight: bold; }
    .candle-time { color: rgba(black, 0.3); }
    // .candle-average { width: 100px; }
  }
}

.gainers-dashboard {
  .gainers-col { width: 194px; }
}

.ma-dashboard {
  .dashboard-col .percentage-bars { width: 25px; }
  .dashboard-col .change-cell .percentage-bars { justify-content: flex-end; width: 30px; }
}

.small-caps { font-variant: small-caps; }

.chart-tickers-list {
  flex-basis: 190px;
  height: calc(100vh - 60px);
  overflow-y: scroll;

  h6 { text-align: center; }
  .ticker-item {
    cursor: pointer;

    &.active { background-color: rgba(blue, 0.05); }
  }
}

.ticker-set-title {
  cursor: pointer;
}

a.mini-button { color: rgba(black, 0.2); padding: 2px 4px; }
a.mini-button:hover { color: black; }
