.row.mb-1
  .col-sm-1= label_tag :currency, 'Currency:', class: 'col-form-label'
  .col-sm-5= select_tag :currency, options_for_select(currency_options, params[:currency]), class: "form-select", include_blank: true
