.row.mb-1
  .col-sm-2= label_tag :tickers, 'Tickers:', class: 'col-form-label'
  .col-sm-10= search_field_tag :tickers, params[:tickers].to_s.squish, class: "form-control form-control-sm text-uppercase"
