.row.mb-1
  .col-sm-1= label_tag :set, 'Set:', class: 'col-form-label'
  .col-sm-5= select_tag :set, options_from_collection_for_select(InstrumentSet.all.sort_by(&:name), 'key', 'name', params[:set]), class: "form-select", include_blank: true
