= form_field 'MA:', [2, 10] do
  input>(type="number" class="form-control form-control-sm d-inline w-100p" name="ma_50" value=params[:ma_50] placeholder="MA 50")
  input(type="number" class="form-control form-control-sm d-inline w-100p" name="ma_200" value=params[:ma_200] placeholder="MA 200")
