tr
  th
  th
  th(data-sort="ticker") Ticker
  th
  th
  th Name
  - if @is_portfolio
    th
    th.money-cell Tinkoff
    th.money-cell IIS
    th.money-cell VTB
    th.money-cell Total
    th.money-cell(data-sort="portfolio_cost") Cost
    th.money-cell Ideal
    th.money-cell(data-sort="portfolio_ideal_cost") Ideal Cost
    th.money-cell(data-sort="portfolio_cost_diff") Diff
  th.money-cell(data-sort="marketcap") Cap (M)
  th.money-cell.border-end.pe-2(data-sort="beta") ß
  - if @show_sector
    th Sector
  - if @vtb_marginal_info
    th.money-cell Vlong
    th.money-cell Vshort
  - if @tinkoff_marginal_info
    th.money-cell Tlong
    th.money-cell Tshort
  - if params[:fundamentals]
    th.money-cell(data-sort="pe") P/E
    th.money-cell.border-end.pe-2(data-sort="yield") Yield
  - if params[:price_targets]
    th.money-cell Low
    th.money-cell Average
    th.money-cell High
    th.money-cell.border-end.pe-2
  th.money-cell Last
  th.money-cell(data-sort="change") ﹪
  - if @show_open
    th.money-cell.border-end.pe-2(title=l(Current.today,     format: :week_day)) Open ﹪
  - if @show_recent_prices
    th.money-cell(title=l(Current.d2_ago, format: :week_day) data-sort="gain.recent.d2") 2d ﹪
    th.money-cell(title=l(Current.d3_ago, format: :week_day) data-sort="gain.recent.d3") 3d ﹪
    th.money-cell(title=l(Current.w1_ago, format: :week_day) data-sort="gain.recent.w1") 1w ﹪
    th.money-cell(title=l(Current.w2_ago, format: :week_day) data-sort="gain.recent.w2") 2w ﹪
    th.money-cell(title=l(Current.m1_ago, format: :week_day) data-sort="gain.recent.m1") 1m ﹪
    th.money-cell(title=l(Current.m3_ago, format: :week_day) data-sort="gain.recent.m3") 3m ﹪
    th.money-cell(data-sort="gain.year.2021") ytd ﹪
    th.money-cell.border-end.pe-2(title=l(Current.y1_ago, format: :week_day) data-sort="gain.recent.y1") 1y ﹪

  - if @show_sa
    th.money-cell SA
    th
    th

  - if @show_low
    th.text-end(data-sort="lowest_day_date") Low
    th.money-cell.border-end.pe-2(data-sort="lowest_day_gain") Gain

  - if @show_volume_diff
    th.money-cell(title=l(Current.today,     format: :week_day)) 𝑉
    th.money-cell(title=l(Current.yesterday, format: :week_day) data-sort="volume.d1") 1d 𝑉
    th.money-cell(title=l(Current.d2_ago,    format: :week_day) data-sort="volume.d2") 2d 𝑉
    th.money-cell(title=l(Current.d3_ago,    format: :week_day) data-sort="volume.d3") 3d 𝑉
    th.money-cell(title=l(Current.d4_ago,    format: :week_day) data-sort="volume.d4") 4d 𝑉
    th.money-cell(title=l(Current.w1_ago,    format: :week_day) data-sort="volume.w1") 1w 𝑉
    th.money-cell(title=l(Current.w2_ago,    format: :week_day) data-sort="volume.w2") 2w 𝑉
    th.money-cell(title=l(Current.m1_ago,    format: :week_day) data-sort="volume.m1") 1m 𝑉
    th.money-cell(title=l(Current.m3_ago,    format: :week_day) data-sort="volume.m3") 3m 𝑉
    th.money-cell(title=l(Current.y1_ago,    format: :week_day) data-sort="volume.y1") 1y 𝑉

  - if @show_volatility
    th.money-cell(title=l(Current.today,     format: :week_day)) σ
    th.money-cell(title=l(Current.yesterday, format: :week_day) data-sort="volatility.d1") 1d σ
    th.money-cell(title=l(Current.d2_ago,    format: :week_day) data-sort="volatility.d2") 2d σ
    th.money-cell(title=l(Current.d3_ago,    format: :week_day) data-sort="volatility.d3") 3d σ
    th.money-cell(title=l(Current.d4_ago,    format: :week_day) data-sort="volatility.d4") 4d σ
    th.money-cell(title=l(Current.w1_ago,    format: :week_day) data-sort="volatility.w1") 1w σ
    th.money-cell(title=l(Current.w2_ago,    format: :week_day) data-sort="volatility.w2") 2w σ
    th.money-cell(title=l(Current.m1_ago,    format: :week_day) data-sort="volatility.m1") 1m σ
    th.money-cell(title=l(Current.m3_ago,    format: :week_day) data-sort="volatility.m3") 3m σ
    th.money-cell(title=l(Current.y1_ago,    format: :week_day) data-sort="volatility.y1") 1y σ

  - if @chart_volatility
    th.text-left Volatility

  - if @show_volume
    th.money-cell(data-sort="d1_money_volume") (m) Vol 1d
    th.money-cell Vol 2d
    th.money-cell Vol 3d
    th.money-cell Vol 1w
    th.money-cell Vol 1m
    th.money-cell(data-sort="d5_money_volume") ∑ 5d
    th.money-cell(data-sort="d5_marketcap_volume") MC ﹪

  - if @show_special_dates
    - MarketCalendar.current_special_dates.each do |date|
      th.money-cell(data-sort="gain.date.#{date}")= date.strftime('%b %e ﹪')
  - if @show_recent_years
    - MarketCalendar.current_recent_years.each do |year|
      th.money-cell(data-sort="gain.year.#{year}")= "#{year} ﹪"

  th

  - if @show_last_insider_buys
    th.money-cell Insider

  - if @show_ema_trends
    th.money-cell(data-sort="ema_20_trend") MA20
    th.money-cell(data-sort="ema_50_trend") MA50
    th.money-cell.border-end.pe-2(data-sort="ema_200_trend") MA200

  - if @show_extremums
    th.money-cell(data-sort="y1_high_change") 1y H
    th.money-cell(data-sort="y3_high_change") 3y H
    th.money-cell(data-sort="y1_low_change") 1y L
    th.money-cell(data-sort="y3_low_change") 3y L

  th(data-sort="days_up") Trn
  th
